/**
 * Place your custom styles here.
 */

.navbar-brand {

}

.tabs--primary,
.view-section-list .views-row {
    margin-bottom: 2em;
}

.field {
    margin-bottom: 1em;
}

.field-start-end-date {
    font-style: italic;
    margin: 0 auto;
}

.field-start-end-date .field--name-field-start-date {
    float: left;
}

.field-start-end-date .field--name-field-start-date,
.field-start-end-date .field--name-field-end-date {
    margin-bottom: 0.5em;
}

.field--name-field-start-date > .glyphicon-calendar {
  color: #333;
}

.view-people-finder.view-id-people_finder.view-display-id-attachment_1 {
    margin-bottom: 20px;
}
